html {
    background-color: #141004;
    color: #daebf2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: #daebf2;
    font-weight: lighter;
    text-decoration: none;
}

.footer-link{
    color: #eaf3f8;
    font-weight: bold;
}

.footer {
    background-color: #413522;
    display: flex;
    font-weight: lighter;
    height: 36px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

ul{
    list-style-type: none;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    margin:0;
    flex: 1;
}

.header{
    background-color: #413522;
    display: flex;
    align-items: center;
    font-size: 36px;
    padding: 0px 32px;
}

.content{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: stretch;
}

.sidebar{
    width: 300px;
    min-width: 300px;
    max-width: 300px;  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #826b45;
    flex: 1;
}

.recipe-index{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 24px;
    font-weight: 700;
    font-size: 20px;
    background-color: #826b45 ;
}

.embeded-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 24px;
    max-width: 1400px;
    margin: 40px;
}

.embeded-item{
    padding: 4px;
    background-color: #ead2ac;
    border-radius: 4px;
}

.footer-link{
    font-weight: bold;
}

.home-link{
    font-weight: bold;
    text-align: center;
    margin-top: auto;
}


.recipe-container{
    flex-direction: column;
}

.description,
.ingredients,
.steps,
.plate-description,
.recipe-container
{
    display: flex;
}

.recipe-container{
    margin: 40px;
    flex-wrap: wrap;
    flex: 1;
}

.plate-description{
    flex: 1;
    align-items: center;
    justify-content: center;
}

.description-container{
    margin: 0px 30px;
}
.steps, .ingredients{
    flex-direction: column;
}

.image{
    min-width: 300;
    max-width: 600px;
    padding: 4px;
    background-color: #454959;
    border-radius: 4px;
}

.credit-container{
    display: flex;
    flex-direction: column;
}

.colors {
    color: #d9b273;
    color: #daebf2;
    color: #141004;
    color: #ead2ac;
    color: #e2c391;
    color: #ddb97f;
    color: #d9b273;
    color: #454959;
    color: #7388D9;
    color: #1e1807;
    color: #e6f1f6	;
    color: #281f0a;
    color: #eaf3f8;
    color: #362c11;
    color: #eef6f9;
    color: #090705	;
    color: #413522	;
    color: #826b45;
    color:#bf9c65;
}